@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* night mode toggle */
.toggle-switch {
  display: inline-block;
  vertical-align: middle;
}

.toggle-switch .react-switch-bg {
  border-radius: 15px;
}

.toggle-switch .react-switch-handle {
  border-radius: 50%;
}

.toggle-switch .react-switch-bg div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 14px;
}

.toggle-switch .react-switch-bg .react-switch-handle {
  width: 32px;
  height: 32px;
  position: relative;
}

.toggle-switch .react-switch-bg .react-switch-handle::before {
  content: "🌞"; /* Sun emoji */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
}

.toggle-switch .react-switch-bg .react-switch-handle::after {
  content: "🌜"; /* Moon emoji */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.toggle-switch .react-switch-bg.react-switch-bg {
  background-color: #bc6b01; /* Day color */
}

.toggle-switch .react-switch-bg.react-switch-bg > div {
  color: white;
}

.toggle-switch .react-switch-bg.react-switch-bg .react-switch-handle {
  background-color: #1500ff; /* Night color */
}

.toggle-switch .react-switch-bg.react-switch-bg .react-switch-handle::before {
  opacity: 0;
}

.toggle-switch .react-switch-bg.react-switch-bg .react-switch-handle::after {
  opacity: 1;
}

.toggle-switch
  .react-switch-bg.react-switch-bg.react-switch-bg.react-switch-bg.react-switch-bg
  .react-switch-handle::before,
.toggle-switch
  .react-switch-bg.react-switch-bg.react-switch-bg.react-switch-bg.react-switch-bg
  .react-switch-handle::after {
  opacity: 0;
}

/* End night mode toggle */

.color {
  color: red;
}

body {
  background-color: black;
  margin: 0;
}

/* NavBar */
.navBarBackground {
  background-color: rgba(0, 0, 0, 0.126);
}
.navBarBackground:hover {
  background-color: rgb(0, 0, 0);
}

#ads .navBarFont {
  background: transparent;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 60px;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(234, 234, 234);
  transition: background-color 0.6s, color 0.6s, box-shadow 0.6s;
}

/* #ads .navBarFont:active {
  
} */

#ads .navBarFont:hover {
  transform: scale(1.2)
}

/* NavBar */

/* About Page */
.introAbout h1 {
  font-family: "Helvetica Neue", "Times New Roman", Times, serif;
  color: rgb(131, 131, 131);
  font-size: 50px;
}
.introAbout p {
  text-indent: 50px;
  text-align: justify;
  color: rgb(131, 131, 131);
  font-size: 20px;
}

.allParagraph {
  text-indent: 50px;
  text-align: justify;
  color: rgb(240, 240, 240);
  font-size: smaller;
}

.projectCard .allParagraph {
  text-indent: 50px;
  text-align: justify;
  color: rgb(240, 240, 240);
  font-size: smaller;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.person {
  width: auto;
  height: 92vh;
}

.contacts-icon {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 2px 3px #fff;
  transition: all 0.5s ease-in;
}
.contacts-icon:hover {
  box-shadow: 0 0 20px 3px #fff;
}

/* About Page */

/* Project Page */
.PageSize {
  width: 100vw;
  margin: 0;
}

.technology-button {
  position: relative;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 5px 5px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.projectView {
  max-height: 600px;
  max-width: 400px;
}
.tech-icon {
  width: 24px;
  height: 24px;
  left: 2px;
}

.projectCard {
  min-height: 410px;
  max-height: 410px;
}

.gitIcon {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  transition: all 0.5s ease-in;
  border-radius: 50%;
}

.gitIcon:hover {
  box-shadow: 0 0 20px 3px #fff;
}

.projectImages {
  border: 1px solid rgb(255, 255, 255);
  min-width: 200px;
  min-height: 150px;
  max-height: 150px;
  margin-top: 20px;
}

.cardTitle {
  color: white !important;
}

.projCardButton {
  position: relative;
  margin-left: 5px;
  padding: 3px 5px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 8px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 15px 2px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* Particle Background */
#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
/* End Particle Background */

/* Landing Page  */
.typeWriter {
  border: 2px solid white;
  overflow: hidden;
  white-space: pre-wrap;
  margin: 20px;
  text-align: justify;
  padding: 20px;
  border-radius: 10%;
}

Navbar {
  box-shadow: 0 0 2px 3px #fff;
}

.landingButton {
  border-radius: 45%;
  border: 2px solid white;
  font-size: 30px;
  background-color: blue;
  padding-left: 10px;
  padding-right: 10px;
}
.landingButton:hover {
  box-shadow: 0 0 15px 2px rgba(0, 142, 236, 0.815);
}

.testing {
  height: 100vh;
}
/* End Landing Page  */

/* Education Page */
.EducationCard {
  border: 1px solid white;
  border-radius: 20px;
}

.EduCerCardfontcolor {
  color: white !important;
}

.eduCardLogo {
  max-width: 150px;
  max-height: 150px;
  border-radius: 30px;
  margin: 2px;
}

/* End Education Page */
