@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.color {
  color: red;
}

body {
  background-color: black;
  margin: 0;
}

/* NavBar */
.navBarBackground {
  background-color: rgba(0, 109, 192, 0.237);
}
.navBarFont {
  color: white !important;
  font-size: 22px;
  font-weight: 400;
  font-family: "Lato", "Open Sans", system-ui, "Segoe UI", Roboto, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
}
/* NavBar */

/* Landing Page */
.landingPageheight {
  height: 80vh;
}
.landingPageH1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.allParagraph {
  text-indent: 50px;
  text-align: justify;
  color: white;
  font-size: smaller;
}
.person {
  width: auto;
  height: 92vh;
}
/* Landing Page */

/* Project Page */
.projectPageSize {
  width: 100vh;
  height: 100vh;
}

.technology-button {
  position: relative;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 5px 5px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.projectView {
  max-height: 600px;
  max-width: 400px;
}

.projectCard {
  min-height: 400px;
  max-height: 400px;
  background-color: black;
}

.projectImages {
  border: 1px solid navy;
  min-width: 200px;
  min-height: 150px;
  max-height: 150px;
  margin-top: 20px;
}

.cardTitle {
  color: white !important;
}

.projCardButton {
  position: relative;
  margin-left: 10px;
  padding: 3px 5px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 8px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 15px 2px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* CSS */
.tech-icon {
  width: 24px; /* Adjust the width as needed */
  height: 24px; /* Adjust the height as needed */
  left: 2px;
}

.contacts-icon {
  /* margin-left: 50px; */
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
}
#tsparticles {
  position: fixed; /* Fixed positioning to ensure it covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Set a lower z-index to place it behind other content */
}
